.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animated_penguin {
  margin-top: 2em;
  height: 6em;
  width: 6em;
}

.add_gratitude {
  &__textarea {
    width: 30em;
    height: 10em;
    border: 3px solid black;
    padding: 1em;
  }
  &__header {
    text-align: center;
  }
}
