.mood {
  text-align: center;
  &__smiley-face {
    width: 3em;
    height: 3em;
    margin: 0 1em 0 1em;
  }
  &__smiley-face-selected {
    width: 3em;
    height: 3em;
    margin: 0 1em 0 1em;
    filter: brightness(0.5);
  }
}
